<header>
  <nz-layout>
    <nz-header>
      <div class="logo"><i nz-icon nzType="appstore" nzTheme="outline"></i> Digituz</div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item>Sair</li>
      </ul>
    </nz-header>
    <nz-layout>
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" class="sider-menu">
          <li>
            <a [title]="'Início'" routerLink="/home"> <i nz-icon nzType="appstore" nzTheme="outline"></i> Início </a>
          </li>
          <li>
            <a [title]="'Produtos'" routerLink="/products">
              <i nz-icon nzType="appstore" nzTheme="outline"></i> Produtos
            </a>
          </li>
        </ul>
      </nz-sider>
      <nz-layout class="inner-layout">
        <app-breadcrumbs></app-breadcrumbs>
        <nz-content>
          <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
    </nz-layout>
  </nz-layout>
</header>
